.logo {
  padding: 0px 5px;
  font-size: 1.2rem;
}

.md-48 {
  font-size: 48px;
  margin-top: 5 px;
  /* margin-right: 2rem; */
}

a {
  text-decoration: none;

  &:hover {
    color: yellow;
  }
}

.header-toolbar {
  color: #d9dbdb;
}

.icon-user {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
}
